<div class="basement">
    <header class="basement__header">
        <img class="basement__header-logo"/>
        <span class="basement__user-name"></span>
        <a class="button basement__header-button">
            <span class="fa fa-gear" aria-hidden="true"></span>
        </a>
    </header>
    <div class="basement__contents">
        <a class="button button--full" href="#projects/new">
            <span class="fa fa-plus" aria-hidden="true"></span> Create Project
        </a>
        <a class="button button--full" href="#projects">
            <span class="fa fa-search" aria-hidden="true"></span> Project Search
        </a>
        <h3 class="basement__section-header">My Projects</h3>
        <div class="basement__project-list"></div>
    </div>
</div>