<header class="header">
    <div class="header__banner-container">
        <div class="header__banner"></div>
        <div class="header__banner-overlay"></div>
        <h1 class="header__title" aria-hidden="true"></h1>
        <button class="header__back button--icon">
            <span class="fa fa-chevron-left"></span>
        </button>
        <button class="header__menu button--icon">
            <span class="fa fa-ellipsis-h"></span>
        </button>
    </div>
    <h1 class="header__title" hidden></h1>
    <p class="header__description" hidden></p>
    <ul class="header__tabs" hidden>
        <li class="header__tab">
            <div class="header__tab-label"></div>
        </li>
        <li class="header__tab">
            <div class="header__tab-label"></div>
        </li>
        <li class="header__tab">
            <div class="header__tab-label"></div>
        </li>
    </ul>
</header>