<div class="form-page scrollable">
    <form class="form-page__form">
        <img class="login__logo" src="../images/logo.png">
        <input type="email" name="email" placeholder="Email" aria-label="email" autocomplete="email" required/>
        <input type="password" name="password" placeholder="Password" aria-label="password" autocomplete="current-password" required/>
        <button class="button--full">Let's Go</button>
        <div class="link-section">
            <a href="#login/register">Register</a>
            <span class="bullet-separator"></span>
            <a href="#login/forgot-password">Forgot Password</a>
        </div>
    </form>
</div>