<form class="form--full form--full-center">
    <div class="image--full">
        <img src="../images/logo.png">
    </div>
    <input type="email" name="email" placeholder="Email" aria-label="email" autocomplete="email"/>
    <input type="password" name="password" placeholder="Password" aria-label="password" autocomplete="current-password"/>
    <button class="button--primary">Let's Go</button>
    <div class="secondary-actions">
        <a href="#login/register">Register</a>
        <span class="bullet-separator"></span>
        <a href="#login/forgot-password">Forgot Password</a>
    </div>
</form>