<div class="profile form-page scrollable">
    <div class="form-page__form">
        <img class="profile__image" src="{{user.image}}"/>
        {{#if isCurrentUser}}
            <p class="profile__sub-text">Change a photo</p>
        {{/if}}
        <input type="text" name="name" placeholder="Name" aria-label="name" autocomplete="name" value="{{user.name}}"/>
        <input type="email" name="email" placeholder="Email" aria-label="email" autocomplete="email" value="{{user.email}}"/>
        {{#if isCurrentUser}}
            <button class="button--full button--log-out">Log out</button>
            <button class="button--full button--change-email">Change Email</button>
            <button class="button--full button--reset" data-href="#login/forgot-password">Reset Password</button>
        {{/if}}
    </div>
</div>