<div class="profile">
    <div class="form--full form--full-center">
        <div class="image--center">
            <img class="profile-image--large" src="../images/profile.png"/>
            <span class="sub-text">Change a photo</span>
        </div>
        <input type="text" name="name" placeholder="Name" aria-label="name" autocomplete="name" />
        <input type="email" name="email" placeholder="Email" aria-label="email" autocomplete="email" />
        <div class="user-actions">
            <button class="button--full button--log-out">Log out</button>
            <a class="button button--full button--reset">Reset Password</a>
        </div>
    </div>
</div>