<div class="project--edit">
    <input class="project__name" type="text" placeholder="Untitled Project" aria-label="project name" value="{{project.name}}"/>
    <textarea class="project__description" placeholder="Add a short description" rows="3">{{project.description}}</textarea>
    <button class="button--full">{{action}}</button>
</div>