<div class="project">
    <div class="project__details">
        <h2 class="project__name"></h2>
        <a class="project__owner">
            <img class="profile-image--small"/>
            <span class="project__user-name"></span>
        </a>
    </div>
    <div class="project__sections">
        <a class="project__section" href="#projects/{{id}}/activities">
            <span class="fa fa-comment" aria-hidden="true"></span>
            <span class="project__section-title">Team Chat</span>
        </a>
        <a class="project__section" href="#projects/{{id}}/tasks">
            <span class="fa fa-tasks" aria-hidden="true"></span>
            <span class="project__section-title">Tasks</span>
        </a>
        <a class="project__section" href="#projects/{{id}}/people">
            <span class="fa fa-users" aria-hidden="true"></span>
            <span class="project__section-title">Team Members</span>
        </a>
        <a class="project__section" href="#projects/{{id}}/meetups">
            <span class="fa fa-calendar-check-o" aria-hidden="true"></span>
            <span class="project__section-title">Meet up</span>
        </a>
    </div>
</div>