<form class="form--full form--full-center">
    <div class="image--center">
        <img src="../images/profile.png"/>
        <span class="sub-text">Add a photo</span>
    </div>
    <input type="text" name="name" placeholder="Name" aria-label="name" autocomplete="name"/>
    <div class="section-header">
        <span>Login</span>
    </div>
    <input type="email" name="email" placeholder="Email" aria-label="email" autocomplete="email"/>
    <input type="password" name="password" placeholder="Password" aria-label="password" autocomplete="new-password"/>
    <input type="password" name="password2" placeholder="Confirm Password" aria-label="confirm password" autocomplete="new-password"/>
    <button class="button--primary">Register</button>
</form>