<div class="scrollable">
    <ul class="user-list">
        {{#each this}}
        <li class="list-item--image">
            <a class="user" href="#profile/{{id}}">
                <img class="profile-image" src="{{image}}"/>
                <h2 class="user__name">{{name}}</h2>
                <span class="user__email">{{email}}</span>
            </a>
        </li>
        {{/each}}
    </ul>
</div>