html {
    font-family: -apple-system, "Helvetica Neue", Helvetica, Noto, Roboto, Arial, sans-serif;
    color: var(--text);
}

html, body {
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

[data-href] {
    cursor: pointer;
}

.hidden {
    position: fixed;
    left: 100vw;
}

[hidden] {
    display: none !important;
}

.scrollable {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.ios .scrollable {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
}

.section-header {
    position: relative;
    width: 100%;
    text-align: center;
    color: var(--text-medium);
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 12px;
}

.section-header span {
    position: relative;
    display: inline-block;
    background: var(--text-inverted);
    padding: 0 10px;
}

.section-header:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background: var(--input-border);
}

.bullet-separator:before {
    content: '•';
    margin: 0 5px;
    color: var(--text-light);
}

.form-link {
    display: block;
    text-align: center;
    line-height: 44px;
}

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.zero-state-message {
    margin: 60px auto;
    max-width: 230px;
    text-align: center;
    color: var(--text-medium);
}

.zero-state--center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: var(--text-medium);
}