.basement {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -85%;
    width: 85%;
    background: #2d2d2d;
}

.basement__header {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 20px;
    background: #202020;
    color: var(--text-inverted);
}

.basement__header-logo {
    width: 32px;
}

.basement__user-name {
    flex-grow: 1;
    padding: 0 10px;
}

a.basement__header-button {
    background: none;
    font-size: 24px;
}

.basement__contents {
    padding: 10px 20px;
}

.basement__contents .button--full .fa {
    margin-right: 5px;
}

.basement__section-header {
    font-weight: bold;
    font-size: 16px;
    color: #969696;
    margin: 20px 0 0 0;
}

.basement__project-list {
    padding-left: 10px;
    margin-right: -20px;
    color: #fff;
}

.basement__project {
    display: block;
    padding: 20px 0;
    color: var(--text-inverted);
    border-bottom: 1px solid #4d4d4d;
}

.basement, .header, .container {
    transition: left .2s ease-out;
}

.show-basement {
    .basement { left: 0; }
    .header { left: 85%; }
    .container {
        left: 85%;
        box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
    }
}