.page--basement {
    left: -85%;
    width: 85%;
    background: var(--basement-background);
}

.header--basement {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #202020;
    color: var(--text-inverted);
}

.basement__header-logo {
    width: 32px;
}

.basement__user-name {
    flex-grow: 1;
    padding: 0 10px;
}

.header--basement button {
    background: none;
    font-size: 24px;
}

.content--basement {
    padding: 10px 20px;
}

.basement__section-header {
    font-weight: bold;
    font-size: 16px;
    color: var(--basement-section-header);
    margin: 20px 0 0 0;
}

.basement__project-list {
    margin-right: -20px;
    color: #fff;
}

.basement__project {
    padding: 10px 0;
    border-bottom: 1px solid var(--basement-item-border);
}

.basement__project a {
    display: inline-block;
    color: var(--text-inverted);
    border-left: 4px solid transparent;
    padding: 5px 0 5px 16px;
}

.basement__project.has-update a {
    border-color: var(--brand);
}