button {
    background: var(--button-color);
    border: 1px solid var(--button-color);
    color: var(--text-inverted);
    padding: 0 10px;
    min-width: 44px;
    min-height: 44px;
}

.button--full {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.button--full .icon {
    margin-right: 5px;
}

.button--icon, .button--link {
    background: none;
    border-color: transparent;
    color: var(--brand);
    font-weight: bold;
    font-size: 14px;
}

.button--stacked .icon {
    display: block;
    margin: 0 auto 2px auto;
}

/*button:focus {*/
    /*outline: none;*/
    /*border-color: rgba(0, 0, 0, 0.5);*/
/*}*/

/*.button--icon:focus, .button--link:focus {*/
    /*border-color: var(--button-color);*/
/*}*/