:root {
    --text: #000;
    --text-inverted: #fff;
    --text-inverted-light: #a2a2a2;

    --text-dark: #565656;
    --text-medium: #a1a1a1;
    --text-light: #d6d6da;

    --background-light: #f8f8f8;
    --background-dark: #2d2d2d;
    --input-border: #cacacd;

    --brand: #da392a;
    --button-color: #da392a;
    --link-color: #da392a;
    --selected-color: #4d90fe;

    --basement: #202020;
    --basement-background: #2d2d2d;
    --basement-item-border: #4d4d4d;
    --basement-section-header: #969696;
}