:root {
    --text: #000;
    --text-inverted: #fff;
    --medium-text: #a1a1a1;
    --light-text: #d6d6da;


    --red: #da392a;
    --button-color: #da392a;
    --link-color: #da392a;

    --input-border: #cacacd;
}