.header {
    position: relative;
    height: 64px;
    padding-top: 10px;
    background: var(--brand);
    color: var(--text-inverted);
    overflow: hidden;
    z-index: 1;
}

.header[data-style="hidden"] {
    display: none;
}

.header[data-style="transparent"], .header[data-style="transparent-dark"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
}

.header[data-style="transparent-dark"] {
    color: var(--text);
}

.header[data-style="transparent-dark"] button {
    color: var(--text);
}

.header--main button {
    position: absolute;
    background: none;
    top: 10px;
}

.header__button--back {
    left: 0;
}

.header__button--basement {
    font-size: 16px;
    left: -14px;
}

.header__button--basement .fa{
    line-height: 32px;
    vertical-align: middle;
}

.header__logo {
    width: 32px;
    margin-left: 10px;
    vertical-align: middle;
}

.header__button--action {
    right: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.header__button--action:empty {
    display: none;
}

.header__title {
    margin: 0;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    font-weight: normal;
}

.header:not([data-left-action="back"]) .header__button--back {
    display: none;
}

.header[data-left-action="back"] .header__button--basement {
    display: none;
}