.page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transition: transform .2s linear;
}

.page--main {
    left: 0;
    width: 100%;
}

.show-basement .page--basement {
    transform: translateX(0);
}

.show-basement .page--main {
    transform: translateX(84vw);
    box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.show-basement .page.page--main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.header {
    height: 64px;
}

.content {
    position: relative;
    height: calc(100% - 64px);
}

.header[data-style] + .content {
    height: 100%;
}

.form-page {
    display: flex;
}

.form-page__form {
    margin: auto;
    width: 280px;
    padding: 20px;
}

.login__logo {
    width: 100%;
    margin-bottom: 8px;
}

.link-section {
    text-align: center;
}

.projects, .project--edit {
    padding: 10px 20px
}

.profile__image {
    display: block;
    height: 150px;
    margin: 0 auto 20px auto;
}

.profile-image--small {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.profile-image--medium {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.home .profile__image {
    margin-bottom: 60px;
}

.list-item--image {
    display: block;
    position: relative;
    padding-left: 34px;
    min-height: 50px;
}

.list-item--image .profile-image--small {
    position: absolute;
    left: 0;
    top: 0;
}

.list-item--thumb {
    display: inline-block;
}

.item__date {
    font-size: 12px;
    color: #787878;
}