.page {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: left .2s ease-out;
}

.page--main {
    left: 0;
    width: 100%;
}

.show-basement .page--basement {
    left: 0;
}

.show-basement .page--main {
    left: 85%;
    box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.show-basement .page.page--main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}

.header {
    height: 64px;
}

.content {
    position: relative;
    height: calc(100% - 64px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.header[data-style] + .content {
    height: 100%;
}

.scrollable {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.form-page {
    display: flex;
}

.form-page__form {
    margin: auto;
    width: 280px;
    padding: 20px;
}

.login__logo {
    width: 100%;
    margin-bottom: 8px;
}

.link-section {
    text-align: center;
}

.profile__image {
    display: block;
    height: 150px;
    margin: 0 auto;
}

.profile__image + input {
    margin-top: 20px;
}

.profile__sub-text {
    font-size: 12px;
    color: var(--medium-text);
    text-align: center;
}

.home, .projects, .project--edit  {
    padding: 10px 20px
}

.profile:not(.profile--current) {
    .user-actions, .profile__sub-text {
        display: none;
    }
}