.projects input[type="search"] {
    display: block;
    width: 100%;
}

.project-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    cursor: pointer;
}

.project__image {
    width: 100%;
}

.project__content {
    border-top: 4px solid var(--brand);
    padding: 20px;
}

.project__title {
    margin: 0 0 10px 0;
    font-weight: 200;
}

.list-item--image {
    display: block;
    position: relative;
    min-height: 50px;
    padding: 7px 0 0 60px;
    margin: 20px;
}

.profile-image {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
}

.profile-image--small {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.item__date {
    font-size: 12px;
    color: #787878;
}

.item__date:after {
    content: '...';
}

.item__description {
    margin: 5px 0;
}

.user__name {
    font-size: 16px;
    margin: 0;
}

.user__email {
    font-size: 12px;
    color: #000;
}

.checkbox-card {
    padding: 10px 20px 10px 50px;
}

.task__header {
    font-size: 12px;
}

.task__content {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--input-border);
}

.task__checkbox {
    position: absolute;
    top: 5px;
    left: -30px;
    width: 16px;
    height: 16px;
}

.task__description {
    margin: 5px 0;
    border: none;
    padding: 0;
    outline: none;
}

.project__details {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid var(--input-border);
}

.project__details:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 30%, transparent 60%, rgba(0, 0, 0, 0.3) 100%);
}

.section__nav-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.section__title {
    margin-bottom: 4px;
}

.section__description {
    color: var(--medium-text);
    font-size: 12px;
}

.section__user {
    color: var(--brand);
}

.task--new {
    padding: 0 20px 0 50px;
}

.activity--new {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid var(--input-border);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.activity--new input {
    padding-left: 20px;
    border: none;
    margin: 0;
}

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}

.project__details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--brand);
    background-size: cover;
    padding: 20px;
    color: #fff;
}

.project__name {
    font-weight: normal;
}

.project__name, .project__owner{
    position: relative;
    z-index: 1;
}

.project .profile-image--small {
    vertical-align: middle;
}

.project__user-name {
    font-size: 12px;
    color: var(--text-inverted);
}

.project__sections {
    display: flex;
    flex-wrap: wrap;
}

.project__section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text);
    max-height: 25vh;
    height: 50vw;
    width: 50%;
}

.indicator--new {
    display: inline-block;
    background: var(--brand);
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin: 0 4px 2px -12px;
}

.project__section:nth-child(odd) {
    border-right: 1px solid var(--input-border);
}

.project__section:nth-child(-n+2) {
    border-bottom: 1px solid var(--input-border);
}

.project__section .fa {
    font-size: 48px;
    margin-bottom: 10px;
}

.project__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
}

.overlay__content {
    position: relative;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
}

.overlay__close {
    position: fixed;
    right: 5px;
    top: 5px;
    background: none;
    color: var(--text);
    z-index: 1;
}

.project-tasks {
    padding: 20px 0;
}

.activity-list {
    margin-bottom: 64px;
}

.activity--entry {
    margin: 0;
    font-size: 12px;
    max-height: 80px;
}

@media (orientation: landscape) {
    .project__section {
        height: 50vw;
        max-height: 25vh;
    }
}